# MacOSX
.DS_Store

# VIM
*.swp

# packages
/packages

# Android
/android/bin/*
/android/libs/*
/android/gen
/android/proguard.cfg
/android/proguard-project.txt
/android/local.properties

# Unity
/unity/Library
/unity/Assembly-*
/unity/*.csproj
/unity/*.sln
/unity/*.pidb
/unity/*.userprefs
/unity/Temp

/unity/Assets/Plugins/Android/Countly.jar
/unity/Assets/Plugins/Android/Countly.jar.meta
/unity/Assets/Plugins/Android.meta
