<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.count.unity">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--Set remote notification handler-->
        <service android:name="ly.count.unity.push_fcm.RemoteNotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!--Change default notification icon to custom-->
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat" />
        <!--Change default notification color to custom-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_notification" />

        <receiver android:name="ly.count.unity.push_fcm.NotificationBroadcastReceiver" />

    </application>
</manifest>
